.container_1{
    display: flex;
    /* lign-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* lex-direction: column; */
   
}

.container_2{
    display: flex;
    justify-content: space-between;
}

.container_3{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.container_1 div, .container_2 div, .container_3 div{
    border: 1px #ccc solid;
    padding: 10px;
}

.box_1{
    flex: 2;
    order: 2;
}

.box_2{
    flex: 1;
    order: 1;
}

.box_3{
    flex: 1;
    order: 3;
}

.container_2_box{
    flex-basis: 27%;
}

.container_3_box{
    flex-basis: 12%;
}